body {
  margin: 0;
  font-family:Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  padding: 0 9.5rem;
}

.watermark{
  color: white;
  height: 7.5vh;
  display: flex;
  align-items: center;
  background-color: #2766CC;  
}

.soko{
  font-size: 0.8rem;
}