h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4 i{
  font-size: 1.2rem;
}
::placeholder{
  color: #BCBCBC;
}

a{
  text-decoration: none;
}

button {
  font-family: 'Rubik', sans-serif;
}


.header{
  border-bottom: solid 1px #DCDCDC;
}

.app-l{
  padding-left: 20%;
  display: flex;
  align-items: center;
}

.app-r{
  padding-right: 10%;
  display: inline-block;
  align-items: center;
  width: 40%;
}
.start{
  justify-content: flex-start;
}

.end{
  display: flex;
  justify-content: flex-end;
}

.target-details{
  margin-left: 0.8rem;
}
.target-details h4{
  color: #272727;
  padding-bottom: 0.4rem;
}

.watermark{
  padding-left: 10%;
  color: white;
  height: 7.5vh;
  background-color: #2766CC;  
}
.watermark img{
  width: 10px;
}
.watermark h5{
  font-weight: 200;
}

.soko{
  font-size: 0.8rem;
}

.target{
  display: inline-block;
  width: 50%;  
}

.target-child{
  margin: 1rem 0;
}

.sub-text{
  font-size: 0.7rem;
  color: #7E7E7E;
}

.store{
  color:#C7C7C7;
  font-size: 1.3rem;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: #F2F2F2;
}

.user-child img{
  width: 23px;
}

.user-child h4{
  color: #A1A1A1;
  display: flex;
}

.user-text-spacing{
  margin-left: 9%;
}

.user-icon-spacing{
  margin-left: 1.1rem;
  font-weight: 200;
}

.end h4 span{
  display: flex;
  color: #A1A1A1;
}

.utility{
  padding: 0 10%;
  margin-bottom: 1rem;
}

.utility h3 span i{
  margin-right: 1.6rem;
}


/*********************************HOME PAGE CATEGORY STYLING****************************************/
.category{
  display: inline-block;
  padding-left: 10%;
  padding-top: 1.3rem;
  width: 18%;
}
.category-parent-item-active{
  display: flex;
  justify-content: flex-start;
  border-right: 4px solid #2766CC;
  background: linear-gradient(45deg, white , #ebedf3);
}

.category-child-item-active{
  padding: 0.6rem 0;
  font-weight: 200;
  color: #2766CC;
}

.category-parent-item-inactive{
  display: flex;
  justify-content: flex-start;
}

.category-child-item-inactive{
  padding: 0.6rem 0;
  font-weight: 200;
  color: #979797;
}

.category h4 span i{
  padding-left: 0.8rem;
}

.view-all{
  color: #2c6acd;
  font-weight: 500;
}

/*********************************SEARCH BAR STYLING*********************************/

.input-group{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1.3rem;
}

.input-group button{
  padding: 0.74rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: #F8DE4B;
  background: #F8DE4B;
}

.input-group button i{
  font-size: 1rem;
  color: #5A83AD;
}

.flex{
  display: flex;
}

.form-outline{
  width: 37%;
}
#form1{
  padding: 0.68rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: #F0F0F0;
  background: #F0F0F0;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  width: 100%;
}

/******************************FEEDS STYLING*****************************/

.feeds{
  width: 40%;
  display: inline-block;
  padding: 0 2%;
  border-left: solid 1px #DCDCDC;
  border-right: solid 1px #DCDCDC;
  padding-top: 1.3rem;
  padding-bottom: 3rem;
}

.feed-active{
  padding: 0.6rem 0;
  color: #696969;
}

.feed-active span{
  background: blue;
  color: white;
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
  font-weight: 200;
  margin-left: 0.7rem;
}

.feed-item{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.feed-item img{
  width: 16%;
  border-radius: 10px;
}

.feed-info{
  margin-left: 1rem;
  width: 81%;
}

.feed-item-name{
  color: #707070;
  font-size: 0.8rem;
}

.feed-item-price{
  color: #707070;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.feed-addition{
  display: flex;
  justify-content: space-between;
}

.feed-addition button{
  font-weight: 500;
  border: 2px solid;
  padding: 0.2rem 0.7rem;
  border-radius: 5px;
  background: inherit;
  color: #5586D7;
}

.feed-addition button:hover{
  background: #5586D7;
  color: #ffffff;
  border: 2px solid #5586D7;
}

.feed-addition button span{
  margin-right: 0.5rem;
}

.feed-item-promo-price{
  font-size: x-small;
  text-decoration: line-through;
  opacity: 0.3;
}


/**************************************BAG STYLING*********************************/

.bag-container{
  padding: 1.3rem;
  width: 15%;
}

.bag-header{
  margin: 0;
}

.bag-content{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  text-align: center;
}

.bag-content img{
  width: 60%;
  margin: 2rem 0;
}

.bag-content p{
  margin-top: 0.7rem;
  font-size: smaller;
  opacity: 0.6;
}

/*******************************FOOTER STYLING*********************************/

.footer-badge-container{
  display: flex;
  justify-content: center;
  padding: 3% 0;
  background: #2766CC;
  color: #EBF1FA;
}

.footer-badge{
  width: 44%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-badge-icon{
  text-align: center;
}

.footer-badge-icon img{
  width: 30%;
}

.special-case{
  width: 38%;
}

.bottom-footer{
  text-align: center;
  padding: 3% 0;
}

.bottom-footer .target-details{
  margin-left: 0;
  margin-bottom: 1%;
}

.bottom-footer button{
  background: #40C251;
  border: 1px solid #40C251;
  color: white;
  border-radius: 3px;
  padding: 0.4% 1%;
  display: flex;
  align-items: center;
}

#fast-delivery{
  padding-top: 13%;  
}

#buyer-protection{
  padding-top: 16%;
}

#customer-support{
  padding-top: 14.5%;
}

#store-details{
  font-size: x-small;
  opacity: 0.3;
  margin-bottom: 1%;
}

.contact{
  display: flex;
  justify-content: center;
}

.contact button span{
  margin-right: 0.5rem;
}

.contact button span i{
  font-size: 1.1rem;
}

/**********************************SELECTED FEEDS*********************************/

.selected-feed{
  display: flex;
  padding: 2% 10%;
}

.selected-feed-name{
  margin: 2% 0;
}
.selected-feed-image{
  width: 36%;
}

.selected-feed-image img{
  width: 100%;
  border-radius: 10px;
}

.selected-feed-info{
  width: 64%;
  padding: 0 3%;
}

.selected-feed-price{
  display: flex;
  align-items: center;
  margin: 4% 0 0;
}

.discount{
  display: flex;
  justify-content: center;
}

.discount p{
  font-size: 0.7rem;
  background: red;
  color: white;
  border-radius: 3px;
  padding: 2% 8%;
  display: flex;
  margin-left: 300%;
  justify-content: center;
}

.bag-add{
  width: 9%;
  display: flex;
  border: 2px solid #B3C9EC;
  border-radius: 3px;
  justify-content: space-between;
}

.bag-add button{
  border: none;
  padding: 0;
  background: #E9EFF9;
  color: #4077D2;
  width: 33.3%;
}

.bag-add p{
  padding: 0;
  width: 33.3%;
  text-align: center;
}

.selected-feed-info .feed-item-promo-price{
  margin-bottom: 4%;
}

.add-to-bag{
  padding: 0;
  background: inherit;
  font-weight: 500;
  margin-right: 1%;
  width: 30%;
  display: flex;
  text-align: center;
}

.add-to-bag a{
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2A68CD;
  border-radius: 4px;
  background: inherit;
  color: #4078D2;
}

.add-to-bag a:hover{
  background: #4078D2;
  border: 2px solid #2A68CD;
  color: white;
}

.buy-now{
  padding: 0;
  background: inherit;
  font-weight: 500;
  margin-left: 1%;
  width: 30%;
  display: flex;
  text-align: center;
}

.buy-now a{
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #F8DE4B;
  border-radius: 4px;
  background: #F8DE4B;
  color: #4078D2;
}

.buy-now a:hover{
  background: inherit;
  border: 2px solid #F8DE4B;
  color: #F8DE4B;
}

.options{
  display: flex;
  height: 11%;
  margin: 9% 0 0;
}